@font-face {
    font-family: whiteBoard;
    src: url(../media/Virgil.woff2);
}



body{
    margin: 0;
    padding: 0%;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    
    
}

#enter{
    display: flex;
    align-items: center;

    font-family: whiteBoard; 
    gap: .5rem;
}

#employeeNum{
    font-family: whiteBoard;
    font-size: 2rem;
}

#submit{
    font-family: whiteBoard;
    font-size: 2rem;
    
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    border: none;
    background-color: transparent;

    margin-left: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
#submit:hover{
    font-weight: 9000;
    cursor: pointer;
    background-color: 	#F8F8F8;
}