@font-face {
    font-family: whiteBoard;
    src: url(../media/Virgil.woff2);
}



body{
    margin: 0;
    padding: 0%;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    
    
}

#container{
    display: flex;
    flex-direction: column;

    align-items: center;
}
#enter{
    display: flex;
    align-items: center;

    font-family: whiteBoard; 
    gap: .5rem;
}

#employeeNum{
    font-family: whiteBoard;
    font-size: 2rem;
}

#submit{
    font-family: whiteBoard;
    font-size: 2rem;
    
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    border: none;
    background-color: transparent;

    margin-left: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
#submit:hover{
    font-weight: 9000;
    cursor: pointer;
    background-color: 	#F8F8F8;
}

#not{
    font-family: whiteBoard;
    color:red;
}







#userCard{
    height:40rem;
    width: 70rem;
    border: 1px solid black;

    display: flex;

    font-family: whiteBoard;

    visibility: default;
    
}

#user_info{
    display: flex;
    flex-direction: column;
}

#pfp{
    height: 22rem;
    width: 20rem;

    border: 1px solid black;

    margin: 20px;
    margin-bottom: 0;

    background-image: url(../media/pfp.png);
    background-size: contain;
}

#user_curr_info{
    height: 15rem;
    width: 20rem;

    border: 1px solid black;

    margin: 20px;
}


#user_bonus{
    height: 37.4rem;
    width: 50rem;

    border: 1px solid black;

    margin: 20px;
    margin-left: 0;
}

#total_comp{
    height: 15rem;
    width: 100%;

    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;

}
#bonus_earned{
    height: 10rem;
    width: 100%;

    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
#user_bonus_sub{
    height: 9.8rem;
    width: 100%;

    margin:0%;
    padding: 0%;

    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
}
#bonus_percent{
    height:100%;
    width: 20rem;
    border-right: 1px solid black;
}



.user_curr{
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    margin-left:3rem
}






#comp_lable, #bonus_lable{
    margin-left: 1rem;
    
}
#comp_num, #bonus_num{
    margin:0%;
    margin-right: 2rem;
    padding: 0%;
    display: flex;
    justify-content: flex-end;

    letter-spacing: 2px;
}

#comp_num{
    font-size: 8rem;
}
#bonus_num{
    margin:0%;
    margin-right:2rem;
    margin-top: -1rem;
    font-size: 6rem;
}
#bonus_per_num{
    font-size: 4rem;
    margin: 0;
    margin-right: 2rem;
    display: flex;
    justify-content: end;
}

#bonus_per_lable{
    padding: 15px;
    margin: 0%;
}

.bonus_sub_lable{
    display: flex;
    gap: 5rem;
    margin-left: 5rem;
    align-items: center;
}
#bonus_check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}